.flex-container{
    display: flex;
    /* possible value for flex-direction is column,column-reverse,row,row-reverse */
    flex-direction: column;
    background-color: sandybrown;
}
.flex-container > div{
    background-color: magenta;
    width: 100px;
    margin: 10px;
    text-align: center;
    line-height: 45px;
    font-size: 20px;
}