.flex-container{
    display: flex;
    /* Possible value for flex-wrap is wrap,nowrap,wrap-reverse */
    flex-wrap: wrap;
    background-color: rgb(230, 114, 13);
}
.flex-container > div{
    background-color: rgb(24, 230, 58);
    width: 100px;
    margin: 10px;
    text-align: center;
    line-height: 45px;
    font-size: 20px;
}