.grid-container{
    display: grid;
    
    /* 4 times auto means 4 columns set no. of auto according to required columns i.e 3,2,1 all possible*/
    grid-template-columns: auto auto auto auto;

    /* gap is a shorthand property of column-gap and row-gap */
    gap: 50px;
    background-color: aqua;
    padding: 20px;
}
.grid-items{
    background-color: greenyellow;
    padding: 30px;
    border: 2px solid red;
    font-size: 30px;
    text-align: center;
}