.flex-container{
    display: flex;
    /* Possible value for justify-content is flex-start(default),flex-end,center,space-around,space-between. */
    justify-content: space-around;
    background-color: rgb(214, 238, 1);
}
.flex-container > div{
    background-color: rgb(221, 179, 186);
    width: 100px;
    margin: 10px;
    text-align: center;
    line-height: 45px;
    font-size: 20px;
}