ul{
    list-style-type: none;
    margin: 0px;
    padding: 0px;
    width: 100px;
    border: 1px solid red;
    position: fixed;
    overflow: auto;
}
li a{
    display:block ;
    color: orange;
    padding: 10px 16px;
    text-decoration: none;
    text-align: center;
    border-bottom: 1px solid black;
}
.active{
    background-color: rgb(24, 223, 24);
    color: white;
}
li a:hover{
    background-color: rebeccapurple;
    color: red;
}