/* Pseudo class single colon(:) and Pseudo element double element(::) in CSS3 but in CSS2 single colon for both element and class */
p:first-child{
           background-color: greenyellow;
           color:blue;
}
q:lang(no){
    quotes: "-" "~";
}
div.pseudo::first-line{
    color: red;
    font-variant: small-caps;
    text-decoration: underline;
    
}
div.pseudo::first-letter{
    color: rgb(14, 238, 33);
    font-size: xx-large;
    padding: 5px;
}
p.bef::before{
    content: url(Smiley.png);
}
.aft::after{
    content: url(Smiley.png);
}
::marker{
    color: green;
    font-size: 32px;
}
::selection{
    color: rgb(29, 228, 45);
    background-color: yellow;
    cursor: copy;
    outline: inherit;
}